@import "pallette.scss";

body {
	background-color: $palette-passive-default-normal-bg;
	color: $palette-text-default-normal-text;
	font-family: Arial,Helvetica,Helvetica Neue,sans-serif;
}

a{
	&:hover {
		text-decoration: none;
	}
}
