$palette-passive-default-normal-bg: #1a143b;
$palette-passive-default-hover-bg: #281f55;
$palette-passive-default-normal-border: #090815;

$palette-interactive-default-normal-bg: #f8104d;

$palette-text-default-normal-text: #fff;

$palette-text-default-normal-text: #fff;

$palette-text-interactive-normal-text: #0029B7;
$palette-text-interactive-hover-text: #f8104d;
$palette-text-interactive-active-text: #f8104d;
