@import "../../app/styles/typography.scss";

.appName {
	@include title("L");
}


.popularMoviesWrp,
.popularTvSeriesWrp,
.familyMoviesWrp {
	margin-top: 50px;
}

.popularMoviesTitle,
.popularTvSeriesTitle,
.familyMoviesTitle {
	@include title("S");
}

.popularMovies,
.popularTvSeriesSlider,
.familyMovies {
	margin-left: -5px;
	margin-right: -5px;
}

.popularMovie,
.popularTvSeries,
.familyMovie {
	padding: 15px 5px 0 5px;
}
