@import "~bootstrap/scss/bootstrap";
@import "../../app/styles/typography.scss";

.container {
	padding-top: 50px;
}

.footer {
	height: 50px;
}

.title {
	@include title("L");
}

.description {
	margin-top: 10px;
	@include text();
}

.meta {
	margin-top: 50px;
}

.metaItem {
	@include text();
	margin-top: 10px;
}

.posterWrp {
	margin-top: 20px;
	position: relative;
	cursor: pointer;
	display: inline-block;

	&:before,
	&:after {
		position: absolute;
		transition: .2s linear;
		opacity: 0;
	}

	&:before {
		content: "";
		background-color: rgba(0,0,0, .5);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&:after {
		content: "▶";
		color:rgba(255,255,255, .8);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 50px;
		line-height: 50px;
	}
	&:hover {
		&:before,
		&:after {
			opacity: 1;
		}

	}
}

.poster {
	max-width: 100%;
}

.playButton {
	margin-top: 10px;
}

.notFound {
	matgin-top: 20px;
	@include title();
}

.results {
	margin-top: 20px;
}
.result {
	margin-bottom: 10px;
}
@media only screen and (min-width: map-get($grid-breakpoints, "md")) {
	.posterWrp {
		margin-top: 0;
	}
}
