@import "../../app/styles/typography.scss";

.header,
.footer {
	height: 50px;
}

.title {
	@include title("L");
}

.description {
	margin-top: 10px;
	@include text();
}

.meta {
	margin-top: 20px;
}

.metaItem {
	@include text();
	margin-top: 10px;
}
