@import "../../app/styles/typography.scss";

.videoWrp {
	position: relative;
	display: inline-block;

	&.fullscreen {
		display: none;

		&.loaded {
			display: block;
		}
	}
}

.video {
	position: relative;
	width: 100%;
	height: 100%;
}

:global {
	.shaka-title {
		position: absolute;
		top: 10%;
		left: 5%;
		@include title("L");
	}
	.shaka-close-button {
		position: absolute;
		top: 10%;
		right: 5%;
		@include title("L");
		z-index: 5;
		cursor: pointer;
		text-shadow: 0 0 10px #000000;
	}
}
